@import "tailwindcss";
/* 1. Register local font files */
@font-face {
  font-family: 'GE-INSPIRA-BOLD';
  src: url('./assets/fonts/GE-INSPIRA.TTF') format('truetype');
  font-weight: 900;
  font-style: BOLD;
}

@font-face {
  font-family: 'GE-INSPIRA-NORMAL';
  src: url('./assets/fonts/GE-INSPIRA.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GE-INSPIRA-LIGHT';
  src: url('./assets/fonts/GE-INSPIRA.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* 2. Map them to Tailwind v4 theme variables */

@theme {
  --font-display: "GE-INSPIRA-BOLD";
  --font-sans: "GE-INSPIRA-NORMAL";
  --font-mono: "GE-INSPIRA-LIGHT", monospace;
}

:root {
  font-family: var(--font-sans);
}

h1, h2, h3, .font-display {
  font-family: var(--font-display);
}

.font-mono {
  font-family: var(--font-mono);
}
